In [164]:
import pandas as pd

In [165]:
data1 = pd.read_excel('data.xls')
data2 = pd.read_excel('discretdata.xls')

In [166]:
data1.head()

,肝气郁结证型系数,热毒蕴结证型系数,冲任失调证型系数,气血两虚证型系数,脾胃虚弱证型系数,肝肾阴虚证型系数,病程阶段,TNM分期,转移部位,确诊后几年发现转移
0,0.056,0.460,0.281,0.352,0.119,0.350,S4,H4,R1,J1
1,0.488,0.099,0.283,0.333,0.116,0.293,S4,H4,R1,J1
2,0.107,0.008,0.204,0.150,0.032,0.159,S4,H4,R2,J2
3,0.322,0.208,0.305,0.130,0.184,0.317,S4,H4,R2,J1
4,0.242,0.280,0.131,0.210,0.191,0.351,S4,H4,R2R5,J1

In [167]:
data2.head()

      1           2           3           4
A     0    0.314560    0.272817    0.215981
An  356   53.000000  240.000000  281.000000
B     0    0.153543    0.401366    0.489954
Bn  342  380.000000   29.000000  179.000000
C     0    0.245362    0.336551    0.379873

In [181]:
#data1

In [178]:
typelabel={u'肝气郁结证型系数':'A',u'热毒蕴结证型系数':'B', u'冲任失调证型系数':'C', u'气血两虚证型系数':'D', u'脾胃虚弱证型系数':'E', u'肝肾阴虚证型系数':'F'}
keys=list(typelabel.keys())
values=list(typelabel.values())
result=data1[keys].as_matrix().astype(object)
tmp=data2.as_matrix()

In [179]:
for i in range(len(data1)):
    for j in range(len(keys)):
        for k in range(3):
            if result[i,j] >= tmp[2*j,k] and  result[i,j] < tmp[2*j,k+1]:
                result[i,j] = values[j]+str(k+1)
                break

pd.DataFrame(result).to_excel('out.xls')

In [180]:
result

array([['A1', 'B3', 'C2', 0.352, 'E1', 'F2'],
       [0.488, 'B1', 'C2', 0.333, 'E1', 'F2'],
       ['A1', 'B1', 'C1', 'D1', 'E1', 'F1'],
       ...,
       ['A1', 'B2', 'C1', 'D1', 'E1', 'F2'],
       ['A1', 'B2', 'C1', 'D1', 'E1', 'F1'],
       ['A1', 'B2', 'C1', 'D1', 'E1', 'F1']], dtype=object)

### Python：疯狂的字典

In [159]:
d = {True: 'yes', 1:'no', 1.0:'maybe'}

In [160]:
d

{True: 'maybe'}

In [182]:
s = {}
s[True] = 'yes'
s[1] = 'no'
s[1.0] = 'maybe'

In [183]:
s

{True: 'maybe'}

In [184]:
True == 1 == 1.0

True

In [185]:
1 == 1.0

True

In [186]:
d

{True: 'maybe'}

In [188]:
d[1] = 'y'

In [189]:
d

{True: 'y'}

当一个新的值与字典的健关联时，python的字典不会更新健对象本身